* {
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

.container {
    width: 1440px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
}

.header-container {
    width: 1440px;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.log-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.log-container > img {
    width: 50px;
    height: 50px;
    object-fit: fill;
}

.log-container > p {
    font-size: 32px;
    margin-left: 5px;
    font-family: 'Besley', serif;
    color: #333;
}

.post-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.side-box{
    width: 335px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.post-box {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.post-box > textarea {
    flex-grow: 1;
    width: 100%;
    font-size: 16px;
    padding: 2%;
    border: 1px solid #ddd;
    background-color: #f4f4f9;
    border-radius: 4px;
    resize: vertical;
    outline: none;
}

.side-box > .post-actions {
    margin-left: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}


.post-button {
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.submit {
    background-color: #4a90e2;
}

.cancel {
    background-color: #d9534f;
}